In [8]:
import pandas as pd

In [9]:
df= pd.read_csv('estoque.csv')
display(df)

    idcontrole   ref  tamanho  quantidade_pecas  valor      tipo_peca
0           82  1111       42                50  139.9  Vestido Curto
1           83  1111       44                50  139.9  Vestido Curto
2           84  1111       46                50  139.9  Vestido Curto
3           85  1111       48                50  139.9  Vestido Curto
4           86  1111       58                50  139.9  Vestido Curto
..         ...   ...      ...               ...    ...            ...
63         147  1211       62                10  139.9    Calça Jeans
64         148  1211       52                25  139.9    Calça Jeans
65         149  1211       54                45  139.9    Calça Jeans
66         150  1211       56                10  139.9    Calça Jeans
67         151  1211       58                35  139.9    Calça Jeans

[68 rows x 6 columns]

In [10]:
#Quantidade total de peças;

df_soma_das_pecas= df['quantidade_pecas'].sum()
print(df_soma_das_pecas)

1119

### Quantidade de peças por referência:

In [11]:
df_ref= df[['ref', 'tipo_peca' , 'quantidade_pecas']]

df_ref= df_ref.groupby("ref").sum('quantidade_pecas')

display(df_ref)

      quantidade_pecas
ref
1111               300
1211               125
2111               134
3111                80
4111                60
5111                60
6111                90
7111                90
8111                80
9111               100

### Quantidade de peças por tamanho:

In [12]:
df_tam= df[['tamanho', 'quantidade_pecas']]

df_tam= df_tam.groupby('tamanho').sum('quantidade_pecas')

conta_percentual = ((df_tam['quantidade_pecas'] * 100) / df_soma_das_pecas).astype(int)

#conta_percentual = conta_percentual.astype(int)



#print(conta_percentual)

df_tam['percentual'] = conta_percentual

display(df_tam)

         quantidade_pecas  percentual
tamanho
10                      9           0
42                    125          11
44                    120          10
46                    110           9
48                     90           8
50                     20           1
52                     85           7
54                    100           8
56                     75           6
58                    170          15
60                     20           1
62                    165          14
64                     30           2

### Quantidade de peças por tipo.

In [13]:
df_tipo= df[['tipo_peca', 'quantidade_pecas']]
df_tipo= df_tipo.groupby("tipo_peca").sum("quantidade_pecas")
display(df_tipo)

               quantidade_pecas
tipo_peca
Calça Jeans                 225
Cropped                      80
Short Jeans                 240
Vestido Curto               574